/* 

Title: Nav.css

Use: External Stylesheet for Navigation

Author: Ashley Horton

School/Term: University of Missouri, Spring 2020

Developed: April 13, 2020

Validated:  April 9, 2020; Passed on Firefox and Chrome browsers.

*/


/* Format and position the main navigation menu */
nav {
    top: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #545454;
    background-color: #CAEBF2;
    display: inline-block;
}

nav>ul li {
    position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
    text-align: center;
    font-weight: bold;
    color: #ff3b3f;
    float: left;
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 150px; /*this is important to set so our drop-down doesn't go across the page */
    margin: 2px;
    
}

/* Adjust Navigation Links */
nav a:link, nav a:hover, nav a:focus, nav a:visited, nav a:active {
    color: #FF3B3F;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff3b3f;
    text-decoration: underline;
}

/* Position drop-down */
nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}

nav ul ul li {
    float: none;
}

/* Special hover to display the drop-down */
nav>ul>li:hover>ul {
    display: block;
}