/*
Title: Style.css
Use: External Stylesheet
Author: Ashley Horton
School/Term: University of Missouri, Spring 2020
Developed: March 21, 2020
Validated:  April 25, 2020; Passed on Firefox and Chrome browsers.
*/

main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/* Adjust the body */
body{
    background-color: #EFEFEF;
    margin: 15px;
    color: #545454;
    font-family: "Poppins", sans-serif;
}

/* Adjust the styles for headers */
h1 {
    background-color: #CAEBF2;
    border: 2px solid #545454;
    color: #2196f3; 
    font-size: 28pt; 
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #2196f3;
    font-size: 22pt;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
}

h3 {
    color: #2196f3; 
    font-size: 18pt;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
}

h4 {
    color: #545454;
    font-size: 14pt;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
}

blockquote {
    font-family: "Poppins", sans-serif;
}

/* Adjust styles for all paragraphs */
p {
    text-align: left; 
    font-size: 12pt;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
}

/* Adjust styles for ul list points */
ul {
    list-style-type: circle;
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    margin-top: 0px
}

/*Adjust the styles for links */
p a:link, a:focus, a:visited, a:active {
    list-style-type: none;
    color: #2196f3;
}

/* Adjust relational selection for About Me - index */
    section p {
        padding-right: 175px;
}
        
/* Adjust styles for main image - index */
    .headshot {
        max-width: 100%;
        height: auto;
        float: left;
        padding-right: 10px;
}
        
/* Adjust float for Degrees and Certifications - index */
    .clear {
        clear: left;
}
        
    .link {
        list-style-type: none;
}

/* Form CSS */
.contact-form {
    width: 85%;
    max-width: 600px;
    background: #fff;
    position: relative;
    top: 350px;
    left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.txtb {
    border: 1px solid #545454;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label{
    display: block;
    text-align: left;
    color: #545454;
    text-transform: uppercase;
    font-size: 16px;
}    

.txtb input, .txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    margin-top: 6px;
}

input[type=submit] {
    display: inline-block;
    background: #000;
    padding: 14px 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}

/* Responsive styles for iframe-container */
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 380px;
}
 
.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
}

/* Adjust the styles for footer */
footer {
    border-style: double none none none;
    border-width: 2px;
    border-color: #545454;
    background-image: url(images/footer_background.jpg);
    font-size: 10pt;
    color: #fff;
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
}

footer a:link, a:focus, a:visited, a:active {
    color: #fff;
    text-decoration: none; 
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

footer a:hover {
    color: #3399ff;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

#phone_icon {
    color: #fff;
    text-decoration: none; 
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 8px;
}

#email_icon {
    color: #fff;
    text-decoration: none; 
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 8px;
}

/* Responsive layout for contact form */
@media screen and (max-width: 600px) {
    .firstname, .lastname, .email, .message {
        width: 100%;
        margin-top: 0;
    }
    
/* Responsive layout for index.html */
    #index, .headshot {
        width: auto;
        float: none;
    }
}