/* Adjust the body background color */
body{
    background-color: #EFEFEF;
}

/* Adjust body margins */
body {
    margin: 25px 25px 25px 25px;
}

/* Adjust font color for body */
body {
    color: #545454;
}

/* Adjust the styles for headers */
h1 {
    background-color: #CAEBF2;
    border: 2px solid #545454;
    color: #ff3b3f; 
    font-size: 28pt; 
    font-family: serif;
}

h3 {
    color: #ff3b3f; 
    font-size: 18pt;
}

/* Adjust styles for all paragraphs */
p {
    text-align: left; 
    font-size: 12pt;
}

/* Adjust relational selection for About Me */
section p {
    padding-right: 175px;
}

/* Adjust styles for main image */
.headshot {
    float: left;
    padding-right: 25px;
}

/* Adjust float for Degrees and Certifications */

.clear {
    clear: left;
}

/* Adjust styles for ul degress */
.degrees {
    color: #ff6600;
}

.certs {
    color: #66cc00;
}

/* Adjust the styles for footer */

.footer {
    border-style: double none none none;
    border-width: 2px;
    border-color: #545454;
}

.footer {
    font-size: 10pt;
}

.footer a:link, a:hover, a:focus, a:visited, a:active {
    color: #3399ff; 
    text-decoration: none; 
    font-size: 10pt;
}