/* 

Title: Style.css

Use: External Stylesheet

Author: Ashley Horton

School/Term: University of Missouri, Spring 2020

Developed: March 21, 2020

Validated:  April 15, 2020; Passed on Firefox and Chrome browsers.

*/

/* Adjust the body */
body{
    background-color: #EFEFEF;
    margin: 15px;
    color: #545454;
}

/* Adjust the styles for headers */
h1 {
    background-color: #CAEBF2;
    border: 2px solid #545454;
    color: #ff3b3f; 
    font-size: 28pt; 
    font-family: serif;
}

h3 {
    color: #ff3b3f; 
    font-size: 18pt;
}

/* Adjust styles for all paragraphs */
p {
    text-align: left; 
    font-size: 12pt;
}

/* Adjust relational selection for About Me - index */
section p {
    padding-right: 175px;
}

/* Adjust styles for main image - index */
.headshot {
    float: left;
    padding-right: 25px;
}

/* Adjust float for Degrees and Certifications - index */

.clear {
    clear: left;
}

/* Adjust styles for ul degress and certs - index */
.degrees {
    color: #ff6600;
}

.certs {
    color: #66cc00;
}

/* Adjust styles for Background table */
.background {
    border: 2px solid #545454;
    border-collapse: collapse;
    table-layout: fixed; 
    width: 100%;
}

th, td {
    border: 1px solid #545454;
    border-collapse: collapse;
    padding: .2em .5em;
}

th {
    background-color: #caebf2;
}

/* Adjust styles for ul list points */
ul {
    list-style-type: circle;
}

/* Adjust the styles for footer */

footer {
    border-style: double none none none;
    border-width: 2px;
    border-color: #545454;
    font-size: 10pt;
    padding-top: 5px;
}

footer a:link, a:focus, a:visited, a:active {
    color: #3399ff; 
    text-decoration: none; 
}

footer a:hover {
    color: #3399ff;
    text-decoration: underline;
}